@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
  .white-homepage-bottom,
  .black-homepage-bottom {
    font-size: 26px;
  }

  .menu-ref-open {
    .menu {
      justify-content: flex-start;
    }
  }
  
  .menu-wrapper.menu-ref-open .menu li:not(.current-ref-open) {
    height: 0;
    padding: 0;
    margin: 0;
    & > a {
      height: 0;
      padding: 0;
      margin: 0;
      font-size: 0;
    }
    .current-ref-open {
      margin-top: 60px;
    }
  }

  .menu-references-content::before {
    bottom: 20vh;
    right: 0;
    width: 100%;
    height: 5vh;
  }

  .menu-references-content::after {
    top: 20vh;
    right: 0;
    width: 100%;
    height: 5vh;
  }
  .menu-wrapper.menu-ref-open .menu-references-content::after,
  .menu-wrapper.menu-ref-open .menu-references-content::before {
    content: none;
  }
  .menu-references-content .references-artisans-macon,
  .menu-references-content .references-batiment,
  .menu-references-content .references-genie-civil {
    width: 100%;
    margin: 200px 0 215px 0;
    padding: 0 40px;
  }

  .white-homepage-top {
    height: calc(100% - 100px);
  }
  .white-homepage-bottom {
    height: 100px;
  }

  .black-homepage-top {
    height: calc(100% - 100px);
  }
  .black-homepage-bottom {
    height: 100px;
  }
  .menu-mobile-batiment,
  .menu-mobile-edification {
    font-size: 26px;
    font-family: "tuskergrotesk-semibold";
    height: 100px;
  }
  .menu-icon-x {
    right: 30px;
    top: 30px;
    width: auto;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-icon {
    position: absolute;
    right: 30px;
    z-index: 1;
    top: 30px;
    width: auto;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .page-header-background::after {
    background-size: 290%;
  }
  .page-header-content {
    padding: 30px;
    display: flex;
    align-items: flex-end;
    font-family: "tuskergrotesk-semibold";

    h1 {
      font-size: 38px;
      line-height: 1.2;
    }
  }

  .menu {
    justify-content: flex-end;
    padding: 15px 15px 215px 15px;
  }

  .menu > li {
    height: auto;
  }

  .menu > li > a {
    font-size: 42px;
  }

  .menu-content {
    .current-ref-open a::before {
      width: 27px;
      height: 27px;
    }
    .current-ref-open a:hover::before {
      opacity: 1;
    }
    &.menu-white {
      .menu {
        li {
          a {
            &:hover {
              &::after {
                opacity: 1;
              }
              color: #000;
            }
          }
        }
      }
    }

    &.menu-black {
      .menu {
        li {
          a {
            &:hover {
              &::after {
                opacity: 1;
              }
              color: #fff;
            }
          }
        }
      }
    }
  }

  .menu-item-has-children-open .sub-menu > li > a {
    font-size: 38px;

    &:hover {
      &::after {
        opacity: 1;
      }
      color: #000;
    }
  }
  

  .homepage {
    flex-direction: column;
  }
  .black-homepage {
    display: flex;
    flex-direction: column-reverse;
  }
  .homepage-logo-home {
    display: none;
  }
  .white-homepage {
    height: 50%;
  }
  .black-homepage {
    height: 50%;
  }
  .menu-responsive-logo {
    display: block;
    position: absolute;
    left: 30px;
    top: 30px;
    width: 55px;
    height: 55px;
    z-index: 999999;
  }
  .menu-wrapper {
    &.white {
      &.menu-open {
        .menu-responsive-logo {
          svg {
            path {
              fill: #000;
              transition: 1s ease;
            }
          }
        }
      }
    }
    &.black {
      &.menu-open {
        .menu-responsive-logo {
          svg {
            path {
              fill: white;
              transition: 1s ease;
            }
          }
        }
      }
    }
  }

  .page {
    height: auto;
  }

  //prestations-edification

  //video
  .prestations-info .prestations-video,
  .prestations-info:hover video .prestations-video,
  .prestations-info.video-is-played:hover video,
  .prestations-info.video-is-played:hover::before{
    opacity: 1;
    background:transparent;
  }
    

  .prestations-info-mobile {
    width: 100%;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .prestations-video-play-icon-mobile {
    position: absolute;

    height: 40px;
    z-index: 1;
  }
  .prestations-video-mobile {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .prestations-video-label-mobile::after {
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;

    position: absolute;
  }
  //////////erjoni
  .prestations-info .prestations-video {
    position: relative;
  }
  .prestations-info {
    padding-top: 0;
  }

  //body overflow
  body {
    overflow: hidden;
  }
  .page{
    height: 100%;
    overflow: auto;
  }
  .page-content {
    height: auto;
    display: block;
  }
  .prestations-all-boxes-mobile {
    color: #fff;
    display: block;
    font-family: "poppins-regular";
    font-size: 17px;
  }
  .prestations-boxes-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    padding-left: 22px;
    padding-right: 22px;
  }
  .prestations-box1-mobile {
    background: #363636;
  }
  .prestations-box2-mobile {
    background: #808080;
  }
  .prestations-box3-mobile {
    background: #b3b3b3;
    color: #222;
  }
  .prestations-box4-mobile {
    background: #d3d3d3;
    color: #363636;
  }
  .prestations-box5-mobile {
    background: #e5e5e5;
    color: #808080;
  }
  .prestations-box6-mobile {
    background: #000;
    font-family: "tuskergrotesk-semibold";
    font-size: 32px;

    svg {
      height: 44px;
    }
    span {
      padding-right: 21px;
    }
  }

  //edification-lequipe
  .main-info-mobile {
    font-size: 15px;
    padding: 40px;
    background: white;
    font-family: "poppins-regular";
  }
  .all-slider-top-pic-mobile span,
  .all-slider-top-pic-mobile img {
    width: 100%;
  }
  .lequipe-slider-mobile {
    position: relative;
  }
  .lequipe-edification-dotts-mobile {
    position: absolute;
    top: 0;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0px 0px;
    img {
      margin: auto;
      height: 30px;
      width: 30px;
    }
  }
  .all-slider-info-mobile {
    display: flex;
    // justify-content: center;
    color: white;
    font-family: "poppins-regular";
    padding: 50px;
    background: #363636;
  }
  .lequipe-all-silder-bottom-mobile {
    background: #808080;
  }
  .lequope-all-slider-full-bottom-mobile {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    font-size: 15px;
    font-family: "poppins-regular";
    color: white;
    padding: 50px;
  }
  .lequipe-slider-bottom-experience-mobile {
    margin-bottom: 50px;
  }

  //valuers
  .page-content-slider-mobile {
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    justify-content: center;
    height: 60vh;
  }
  .content-slider-info-mobile {
    margin: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
  .svg-up-mobile svg,
  .svg-down-mobile svg {
    width: 40px;
  }
  .page-content-info-main-mobile {
    background: white;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    padding: 50px;
    font-size: 15px;
  }
  .main-valuers-titleque-mobile {
    font-family: "tuskergrotesk-semibold";
    font-size: 46px;
    color: #000;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 10px;
  }
  .info-main-bold-mobile {
    font-family: "poppins-bold";
    margin: 15px 0;
    font-size: 15px;
  }
  .info-main-normal-mobile {
    font-family: "poppins-regular";
    margin: 0;
    font-size: 15px;
  }
  .info-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 15px;
  }
  .lequope-all-slider-full-bottom-mobile {
    font-family: "poppins-bold";
  }
  .main-lequipe-tittleque {
    font-family: "tuskergrotesk-semibold";
    font-size: 46px;
    color: #000;
    line-height: 1.2;
    text-transform: uppercase;

    padding-bottom: 50px;
  }

  //contact
  .contact-map-picture iframe {
    height: 300px;
  }
  .page-contact-edification .page-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .submain-tittle-contact-edification {
    font-size: 12px;
  }
  .main-tittle-contact-edification {
    font-size: 30px;
  }
  .submain-tittle-contact-edification {
    font-size: 12px;
  }
  .contact-edification-top {
    font-size: 50px;
  }
  .contact :not(.menu-open) .menu-responsive-logo {
    display: none;
  }
  .page-contact-edification .page-header .page-header-content {
    padding: 10px;
    img {
      padding-bottom: 0px;
    }
  }
  .page-contact-batiment .page-header .page-header-content {
    padding: 10px;
    img {
      padding-bottom: 0px;
    }
  }
  .page-contact-batiment .page-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .contact-edification-top {
    padding-bottom: 69px;
  }
  .batiment-presation-info-mobile {
    font-size: 26px;
    background-color: white;
    font-family: "tuskergrotesk-semibold";
    color: black;
    text-transform: uppercase;
    padding: 10px;
  }

  .menu-content {
    transition: all 1s;
    opacity: 0;
    display: flex;
    pointer-events: none;
    z-index: -5;
  }
  .menu-open {
    &.white {
      .menu-content {
        opacity: 1;
        pointer-events: all;
        &.menu-white {
          z-index: 5;
        }
      }
    }
    &.black {
      .menu-content {
        opacity: 1;
        pointer-events: all;
        &.menu-black {
          z-index: 5;
        }
      }
    }
    ul li .current-ref-open a {
      display: flex;
      align-items: center;
    }
  }
  .menu-icon {
    z-index: 4;
  }
}
@media only screen and (max-width: 525px) {
}
@media only screen and (max-width: 400px) {
  .contact-edification-bottom {
    flex-direction: column;
  }
  .contact-edification-bottom-left {
    margin-bottom: 30px;
  }
}
