@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap");
@import "bootstrap.min.css";
@import "swiper.min.css";

@import "_variables.scss";
@import "hompepage.scss";
@import "aboutus.scss";
@import "contactpage.scss";

@font-face {
  font-family: "poppins-regular";
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "poppins-bold";
  src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "poppins-medium";
  src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "tuskergrotesk-semibold";
  src: url("../fonts/TuskerGrotesk-6600Semibold.otf");
  font-display: block;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #000000;
}

body {
  height: 100%;
  background-color: black;
  overflow: hidden;
}

img {
  max-width: 100%;
}

a,
a:hover {
  text-decoration: none;
}

.page {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.scroll-up-to-100 {
  display: none;
}
.menu-wrapper {
  &.menu-open {
    &.white {
      .menu-white {
        display: flex;
      }
    }

    &.black {
      .menu-black {
        display: flex;
      }
    }
  }
  &.menu-ref-open {
    .menu-references-content {
      &::before,
      &::after {
        content: "";
      }
    }
    .menu-links {
      right: -10vw;
    }
    .menu-icon-x {
      right: 15px;
    }
    &.batiment {
      .references-batiment {
        display: block;
      }
    }
    &.genie-civil {
      .references-genie-civil {
        display: block;
      }
    }
    &.artisans-macon {
      .references-artisans-macon {
        display: block;
      }
    }
    .menu {
      li:not(.current-ref-open) > a {
        pointer-events: none;
        opacity: 0;
        z-index: -5000;
      }
    }
  }
}

.menu-open-white {
  cursor: pointer;
}

.menu-open-black {
  cursor: pointer;
}

.menu-content {
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  display: none;
  z-index: 9999;
  &.menu-white {
    background-color: #fff;
    color: black;
    .menu {
      li {
        a {
          color: black;
          &::after {
            transition: all 0.6s linear;
          }
          &:hover {
            &::after {
              opacity: 0.5;
            }
            color: #888;
          }
        }
      }
    }
    .menu {
      li.menu-item-has-children {
        a::after {
          filter: invert(1);
        }
      }
    }
    .menu-icon-x svg {
      path {
        fill: #000;
      }
    }
  }

  &.menu-black {
    background-color: #000;
    .menu {
      li {
        a {
          color: white;
          &::after {
            transition: all 0.6s linear;
          }
          &:hover {
            &::after {
              opacity: 0.5;
            }
            color: #888;
          }
        }
      }
    }
  }
}

.menu-icon {
  position: absolute;
  right: 5%;
  z-index: 1;
  top: 8%;
  z-index: 10;
  svg {
    width: calc(2vw + 2vh);
    height: calc(2vw + 2vh);
    cursor: pointer;

    &:hover {
      path {
        transition: all 0.5s linear;
        &:first-child {
          transform: translate(1331.14px, -123.873px);
        }
        &:last-child {
          transform: translate(1300.14px, -123.873px);
        }
      }
    }
  }
}

.menu-icon-x {
  position: absolute;
  top: 15px;
  right: calc(10vw + 15px);
  z-index: 99999;
  svg {
    width: calc(3vw + 4vh);
    height: calc(3vw + 4vh);
    cursor: pointer;
    transition: all 0.5s linear;
    &:hover {
      transform: rotate(90deg);
    }
  }
}

.menu-icon .page-header-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.page-header {
  position: relative;
  height: 40vh;
  overflow: hidden;
  font-family: "tusker-semibold";
}

.page-header-background::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  background-image: url(../images/valuers-background.jpg);
  background-position-y: 50%;
  background-size: 150%;
  transition: all 1s;
}

.page-header-background::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  background-color: #53228b;
  z-index: 1;
  opacity: 0.75;
}

.page-content {
  height: 60vh;
  overflow: hidden;
  display: flex;
}

.page-header h1 {
  display: inline-block;
  color: #fff;
  position: relative;
  font-size: calc(5vh + 5vw);
  margin: 0;
  padding: 0;
  line-height: 1.1;
}

// .page-header img {
//   display: inline-block;
//   vertical-align: top;
//   margin: 15px 30px;
//   position: relative;
//   height: calc(20vh - 50px);
// }
.page-header-content {
  height: 100%;
  padding: 4vh 2vw 0;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  font-family: "tuskergrotesk-semibold";
  img {
    height: 100%;
    margin: 0;
    display: block;
    padding-bottom: 4vh;
  }
}

.page-content-info {
  height: 100%;
  flex: 0 0 50%;
  display: flex;
}
.page-content-info-main {
  flex: 0 0 50%;
  background: white;
  padding: 4vh 4vw;
  // padding: calc(0.5vh + 2vw);
  font-size: calc(0.5vh + 0.8vw);
}
.page-content-info-main img {
  height: calc(30vh - 50px);
}
.page-content-info-boxes {
  flex: 0 0 50%;
  font-size: calc(0.5vh + 0.8vw);
  font-family: "poppins-bold";
}
.page-content-slider {
  flex: 0 0 50%;
  /* height: 100%; */
  /* position: relative; */
  /* top: 40%; */
  padding: 4vh 4vw;
  font-size: calc(0.5vh + 0.8vw);
  display: flex;
  color: #ffffff;
  text-align: center;
  font-family: "poppins-bold";
  flex-direction: column;
  /* align-items: center; */

  justify-content: center;
}
.valuers-arrow-up,
.valuers-arrow-down {
  svg {
    width: 4vw;
    cursor: pointer;
    &:hover {
      path {
        &:first-child {
          opacity: 0.2;
        }
        &:last-child {
          opacity: 0.4;
        }
      }
    }
  }
  // &:hover {
  //   opacity: 0.4;

  //   &:focus {
  //     opacity: 0.1;
  //   }
  // }
  &:focus-within {
    opacity: 0.1;
  }

  &:focus {
    opacity: 0.1;
  }

  &:visited {
    opacity: 0.1;
  }
}
.info-box.box1 {
  background: #363636;
  height: 25%;
}
.info-box.box2 {
  background: #808080;
  height: 25%;
}
.info-box.box3 {
  background: #b3b3b3;
  height: 25%;
  color: #363636;
}
.info-box.box4 {
  background: #dbdbdb;
  height: 25%;
  color: #808080;
}
.info-box {
  text-align: -webkit-center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0vh 3vw;
  color: #ffffff;
}

.info-main-bold {
  font-family: "poppins-bold";
  margin: 15px 0;
  font-size: calc(0.5vh + 0.8vw);
}
.info-main-normal {
  font-family: "poppins-regular";
  margin: 0;
  font-size: calc(0.5vh + 0.8vw);
}
.content-slider-info {
  margin: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

/*Menu CSS */
.page-entry {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-entry img {
  height: 30vh;
}

.menu {
  margin: 0;
  // padding: 4vh 10vw 0 2vw;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: "tuskergrotesk-semibold";
  padding: 4vh 10vw 4vh 2vw;
}
.menu-links {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 10vw;
  display: flex;
  flex-direction: column;
}
.menu-batiment {
  height: 50%;
  position: relative;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s linear;
  img {
    width: 100%;
    height: 100%;
    max-height: 90%;
    object-fit: contain;
  }
  &:hover {
    opacity: 0.6;
  }
}
.menu-edification {
  height: 50%;
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s linear;
  img {
    width: 100%;
    height: 100%;
    max-height: 90%;
    object-fit: contain;
    transition: all 0.6s linear;
  }
  &:hover {
    img {
      filter: invert(0.4);
    }
  }
}

.menu-single-submenu > li:not(.menu-item-has-children-open),
.menu-single-submenu > li:not(.menu-item-has-children-open) > a {
  font-size: 0px;
  height: 0px;
  opacity: 0;
  z-index: -5;
  pointer-events: none;
}
.menu li a {
  color: #fff;
  // font-size: calc(4vh + 7.5vw);
  position: relative;
  transition: all 0.6s linear;
  font-size: calc(9vh + 4.5vw);

  &:hover {
    color: #888;
  }
}
.menu > li {
  height: 25%;
  position: relative;
  transition: all 0.6s linear;
}
.menu > li.menu-item-has-children > a::after {
  content: url(../images/submenu-arrow.svg);
  width: 20px;
  height: 20px;
  display: inline-block;
}
.sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

.menu > li.menu-item-has-children > a::after {
  content: "";
  position: absolute;
  top: 0;
  width: 10%;
  height: 100%;
  background-image: url(../images/submenu-arrow.svg);
  background-size: contain;
  display: inline-block;
  background-position: center;
  margin-left: 4vw;
  background-repeat: no-repeat;
}
.menu-item-has-children-open .sub-menu {
  display: block;
}
.menu-item-has-children-open .sub-menu > li > a {
  color: #fff;
  font-size: calc(2.5vh + 4vw);
  line-height: 1.2;

  &:hover {
    color: #888;
  }
}
.menu > li.menu-item-has-children.menu-item-has-children-open > a::after {
  transform: rotateX(-180deg);
}

.page-header-content {
  text-transform: uppercase;
}

/*prestation css*/
.prestations-info-list {
  position: relative;
  height: 100%;
  flex: 0 0 50%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: calc(2vh + 4vw);
  cursor: pointer;
}
.prestations-info {
  position: relative;
  height: 100%;
  flex: 0 0 50%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: calc(2vh + 4vw);
  cursor: pointer;
  &.video-is-played {
    padding-top: 0;
    background-color: transparent;

    video {
      opacity: 1;
    }
    .prestations-video-label,
    .prestations-video-play-icon {
      display: none;
    }

    &:hover {
      background-color: transparent;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #fff;
        opacity: 0.4;
        z-index: 2;
      }
      .prestations-video-pause-icon {
        display: block;
        z-index: 3;
      }
      .prestations-video {
        display: block;
      }

      video {
        opacity: 1;
      }
    }
  }
  .prestations-video-pause-icon {
    display: none;
  }
  &:hover {
    background: #f9f9ff;
    .prestations-video {
      opacity: 0.1;
    }
  }
  .prestations-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.01;
    background-color: #000;
  }
  .prestations-video-play-icon {
    width: calc(4vh + 4vw);
    height: calc(2vh + 4vw);
  }
  .prestations-video-label {
    font-family: tuskergrotesk-semibold;
    font-size: calc(2vh + 3.8vw);
    text-transform: uppercase;
    color: #d0d0d0;
    margin-top: 2vh;
  }
}
.prestations-all-boxes {
  height: 100%;
  flex: 0 0 50%;
}
.prestations-info-left {
  flex: 0 0 calc(50% - 6vw);
  padding: 6vh 2vw 4vh 4vw;
}
.prestations-info-right {
  flex: 0 0 calc(50% - 6vw);
  padding: 6vh 4vw 4vh 2vw;
}
.prestations-info-tittle {
  font-family: "tusker-semibold";
  text-transform: uppercase;
  margin-bottom: 50px;
}
.prestations-info-text {
  font-family: "poppins-regular";
  font-size: 2vh;
}
.prestations-info-text-bold {
  font-family: "poppins-bold";
  font-size: 2vh;
  padding-top: 4vh;
}
.prestations-all-boxes {
  height: 100%;
  flex: 0 0 50%;
  background: white;
  display: flex;
}
.prestations-boxes-left {
  font-family: "poppins-bold";
  flex: 0 0 50%;
  font-size: calc(0.5vh + 0.8vw);
}
.prestations-boxes-right {
  flex: 0 0 50%;
}
.prestations-box1-left,
.prestations-box2-left,
.prestations-box3-left,
.prestations-box1-right,
.prestations-box2-right {
  height: 33.33%;
  color: white;
  padding: 0vh 3vw;
  align-items: center;
  display: flex;
  font-size: calc(0.5vh + 0.8vw);
  justify-content: center;
}
.prestations-box1-left {
  background: #b3b3b3;
}
.prestations-box2-left {
  background: #808080;
}
.prestations-box3-left {
  background: #363636;
}
.prestations-box3-right {
  height: 33.33%;
}
.prestations-box1-right {
  background: #808080;
  font-family: "poppins-bold";
}
.prestations-box2-right {
  background: #363636;
  font-family: "poppins-bold";
}
.prestations-box3-right {
  background: #000;
  height: 33.33%;
  color: #fff;
  padding: 0vh 3vw;
  align-items: center;
  display: flex;
  font-size: calc(1.1vh + 2.2vw);
  justify-content: center;
  font-family: tuskergrotesk-semibold;
}
.page-prestations .page-header-background::after {
  // background-image: url(../images/prestations-pic.jpg);
  background-image: url(../images/prestation-geniecivil.jpg);
}

/*references css*/
.references-info {
  flex: 0 0 60%;
  height: 100%;
  display: flex;
  background: #fff;
  padding: 5vw 10vh;
  font-size: calc(0.5vh + 0.8vw);
}
.references-picture {
  flex: 0 0 40%;
  height: 100%;
}
.references-picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.references-info-left {
  flex: 0 0 50%;
  /* padding: 70px; */
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 8vh;
}
.references-info-right {
  flex: 0 0 50%;
}
.references-info-tittle {
  text-transform: uppercase;
  font-family: "tuskergrotesk-semibold";
  padding-bottom: 1vh;
}
.references-info-subtittle {
  padding-bottom: 50px;
  font-family: "poppins-regular";
}

.page-references .page-header-background::after {
  background-image: url(../images/references-header-pic.jpg);
  background-size: cover;
}
/* Contact CSS*/
.page-contact-edification .page-header-background::after {
  background-image: url(../images/contact-edification.jpg);
  background-size: cover;
}
.page-contact-batiment .page-header-background::after {
  background-image: url(../images/contact-batiment.jpg);
  background-size: cover;
}
.contact-map-picture {
  flex: 0 0 50%;
  height: 100%;
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
.contact-infos {
  flex: 0 0 50%;
  padding: 6vh 2vw 4vh 4vw;
  display: flex;
  background: white;
  flex-direction: column;
}
.contact-edification-top {
  text-transform: uppercase;
  flex-grow: 1;
  font-size: calc(4vh + 2vw);
  padding-bottom: 4vh;
  font-family: "tuskergrotesk-semibold";
}
.contact-edification-bottom {
  height: 50%;
  display: flex;
}
.contact-edification-bottom-left {
  flex: 0 0 50%;
}

.contact-edification-bottom-right {
  flex: 0 0 50%;
  margin: 0;
}
.submain-tittle-contact-edification {
  font-family: "poppins-regular";
  font-size: calc(0.7vh + 1.4vh);
}
.main-tittle-contact-edification {
  padding-bottom: 3vh;
  font-size: 4vh;
  font-family: "tuskergrotesk-semibold";
}

.contact-info-blackbox {
  height: 19%;
  color: white;
  font-family: "tusker-semibold";
  background: black;
  align-items: center;
  display: flex;
  /* justify-content: center; */
  text-align: center;
}
.contact-info-information {
  padding: 50px;
}
.contact-info-tittle-main {
  text-transform: uppercase;
  padding-bottom: 40px;
  font-family: "tusker-semibold";
}
.contact-info-tittle {
  text-transform: uppercase;
  font-family: "tusker-semibold";
}
.contact-info-subtittle {
  padding-bottom: 40px;
  font-family: "poppins-regular";
}
.contact-logo img {
  display: block;
}

/* Lequipe CSS */
.lequipe-edification-dotts {
  right: 2vw;
  top: 0;
  position: absolute;
  height: 100%;
  width: calc(0.5vh + 2vw);
  padding: 2vh 0;
  display: flex;
  flex-direction: column;
}
.Submain1.Picture::after {
  content: "";
  height: 3px;
  width: 40%;
  background: white;
  display: block;
  margin: 1vh 0 2vh;
}
.dott::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  width: 20px;
  height: 20px;
  transform: skew(-30deg) rotate(-30deg);
  border: 2px solid transparent;
  background-color: #8b8b8b;
  transition: all 1s ease;
}
.dott {
  cursor: pointer;
  height: 100%;
  display: flex;
  position: relative;

  img {
    width: calc(1vh + 1vw);
    height: calc(1vh + 1vw);
    margin: auto;
  }
}
.dott.active:before {
  background-color: white;
}
.page-lequipe .page-header-background::after {
  background-image: url(../images/lequipe-edification.png);
  background-size: cover;
}
.lequipe-informations {
  flex: 0 0 50%;
  background: #ffffff;
  font-size: calc(0.5vh + 0.8vw);
  padding: 3vh 2vw;
}
.lequipe-all-slider {
  flex: 0 0 50%;
  font-size: calc(0.4vh + 0.6vw);
  position: relative;
}
.seconday-main-info {
  display: flex;
  height: 100%;
  margin: 0;
}
.seconday-main-info-left {
  flex: 0 0 calc(50% - 4vw);
  margin-right: 4vw;
}
.seconday-main-info-right {
  flex: 0 0 50%;
}
.lequipe-all-slider-top {
  display: flex;
  height: 50%;
}
.all-slider-top-pic {
  flex: 0 0 50%;
  height: 100%;
}
.all-slider-top-pic span {
  height: 100%;
}
.all-slider-top-pic img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  object-position: top;
}
.all-slider-top-info {
  flex: 0 0 50%;
  color: #fff;
  /* padding: 45px 30px; */
  padding: 4vh 4vw;
  position: relative;
}
.main-info img {
  width: 30vw;
  height: 30vh;
}
.all-slider-top-info-tittle {
  font-family: "poppins-bold";
}
.all-slider-top-info {
  font-family: "poppins-regular";
}
.lequipe-all-silder-bottom {
  background: #808080;
  height: 50%;
  color: white;
  font-family: "poppins-regular";
}
.lequipe-slider-bottom-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 2vw;
}
.lequipe-slider-bottom-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 2vw;
}
.lequipe-slider-bottom-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.lequipe-slider-bottom-experience {
  margin-bottom: 1vh;
}
.lequope-all-slider-full-bottom {
  height: 100%;
  padding: 4vh 2vw;
  font-size: calc(0.4vh + 0.6vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lequipe-left-center-right-infos {
  display: flex;
}

//homepage
.homepage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}
.white-homepage {
  flex: 0 0 50%;
}
.black-homepage {
  flex: 0 0 50%;
}
.white-homepage-top {
  position: relative;
  height: 75%;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #35015f;
    opacity: 0.58;
  }
}
.black-homepage-top {
  position: relative;
  height: 75%;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #35015f;
    opacity: 0.58;
  }
}
.white-homepage-top img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.black-homepage-top img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.white-homepage-bottom {
  height: 25%;
  transition: all 0.5s linear;
  &:hover {
    color: #888;
  }
}
.black-homepage-bottom {
  height: 25%;
  transition: all 0.5s linear;
  &:hover {
    color: #888;
  }
}
.homepage-logo-home {
  position: absolute;
  width: 37.5%;
  height: 37.5%;
  left: 50%;
  top: 37.5%;
  transform: translate(-50%, -50%);
  z-index: 1;
  img {
    width: 100%;
    object-fit: contain;
    height: 100%;
  }
}
.white-homepage-bottom {
  background: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(2vh + 2vw);
  font-family: "tuskergrotesk-semibold";
}
.black-homepage-bottom {
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(2vh + 2vw);
  font-family: "tuskergrotesk-semibold";
}
.body-homepage #menu-open-trigger {
  display: none;
}

//slider valuers animations
.page-enterprise {
  .vision,
  .moyens,
  .mission {
    display: none;
  }

  &.enterprise-vision {
    .vision {
      display: block;
    }
    .page-header-background::after {
      background-position-y: 0%;
    }
  }
  &.enterprise-moyens {
    .moyens {
      display: block;
    }
    .page-header-background::after {
      background-position-y: 50%;
    }
  }
  &.enterprise-mission {
    .mission {
      display: block;
    }
    .page-header-background::after {
      background-position-y: 100%;
    }
  }
}

//slider prestations
.page-prestations {
  .genie_civil,
  .batiment,
  .artisans_macon {
    display: none;
  }

  &.prestation-genie_civil {
    .genie_civil {
      display: block;
    }
  }
  &.prestation-batiment {
    .batiment {
      display: block;
    }
  }
  &.prestation-artisans_macon {
    .artisans_macon {
      display: block;
    }
  }
}
.box-slide-click img {
  height: 5.5vh;
  padding-left: 0.7vw;
}
.box-slide-click:hover {
  opacity: 0.7;
  cursor: pointer;
}

//lequipe-slider
.page-lequipe {
  .alexandre,
  .hugo,
  .nadine,
  .alone {
    display: none;
  }

  &.lequipe-alexandre {
    .alexandre {
      display: inline-block;
    }
  }
  &.lequipe-hugo {
    .hugo {
      display: inline-block;
    }
  }
  &.lequipe-nadine {
    .nadine {
      display: inline-block;
    }
  }
  &.lequipe-alone {
    .alone {
      display: none;
    }
    .page-header h1 {
      font-size: calc(5vh + 5vw);
    }
    .lequipe-all-slider * {
      background-color: transparent;
    }
    .lequipe-edification-dotts * {
      z-index: 2;
    }
    .lequipe-slider-picture {
      opacity: 1;
      z-index: 1;
      background-color: black;
    }
  }
  .lequipe-slider-picture {
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 100%;
    top: 0;
    pointer-events: none;
    object-position: center;
    background-color: black;
    opacity: 0;
  }
}
.main-lequipe-tittleque {
  font-family: tuskergrotesk-semibold;
  font-size: calc(2vh + 4vw);
  color: #000;
  line-height: 1.2;
}
.main-lequipe-tittleque::after {
  content: "";
  height: 2vh;
  width: 40%;
  background: #000;
  display: block;
  margin: 1vh 0 2vh;
}
.batiment-lequipe .nationalite span,
.batiment-lequipe .domicile span,
.batiment-lequipe .langue span,
.batiment-lequipe .formation span {
  padding-left: 0.3vw;
}

.in-edification-lequipe .Submain1 {
  display: block;
}
.in-edification-lequipe .nationalite b,
.in-edification-lequipe .ne.en b,
.in-edification-lequipe .domicile b,
.in-edification-lequipe .langue b,
.in-edification-lequipe .formation b {
  padding-right: 0.3vw;
}
span.bold-tittle-lequipe {
  padding-right: 0.3vw;
  font-family: "poppins-bold";
  display: inline-block;
}
.prestations-box3-right {
  span {
    padding-right: 0.6vw;

    display: inline-block;
  }
  svg {
    height: calc(1.1vh + 2.2vw);
  }
}
.main-valuers-titleque {
  font-family: "tuskergrotesk-semibold";
  font-size: 4vw;
  color: #000;
  line-height: 1.2;
  text-transform: uppercase;
}
.main-valuers-titleque::after {
  content: "";
  height: 2vh;
  width: 40%;
  background: #000;
  display: block;
  margin: 1vh 0 2vh;
}

.menu-references-content {
  z-index: 99;

  /* width */
  ::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 30vw;
    height: 20vh;
    background-image: linear-gradient(to bottom, #fff 10%, #ffffff80);
    z-index: 1;
  }
  &::before {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30vw;
    height: 10vh;
    background-image: linear-gradient(to top, #fff 10%, #ffffff80);
    z-index: 1;
  }
  .references-batiment,
  .references-genie-civil,
  .references-artisans-macon {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 30vw;
    padding: 20vh 30px 10vh;
    bottom: 0;
    overflow-y: auto;
    font-family: "poppins-medium";
  }
}
.current-ref-open a {
  &:hover {
    &::before {
      opacity: 0.5;
    }
  }
  &::before {
    content: "";
    width: calc(1.5vh + 4vw);
    height: calc(1.5vh + 4vw);
    background-image: url(../images/arrow-left.svg);
    background-size: contain;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s linear;
  }
}
.menu-responsive-logo {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 20vw;
  flex-direction: column;
}

.menu-links-mobile {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 200px;
  flex-direction: column;
  .menu-mobile-batiment {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;

    transition: all 0.5s linear;
    &:hover {
      color: #888;
    }
  }
  .menu-mobile-edification {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;

    transition: all 0.5s linear;
    &:hover {
      color: #888;
    }
  }
}
@import "_responsive.scss";
